#first-show{
  margin:auto;

  position: absolute;
  left: 0;right:0;
  top:0;bottom: 0;

 

  background: #ff0000;
  z-index: 99;

}
header{
  .row{
    background: #cccccc;
    //background:url("../fonts/psb.jpg")no-repeat center;
  }
  .header-content{
    height:350px;
    /*background:#F00;*/
  }
  .header-content1 img{
    //height: 200px;
    margin:auto;
    position: absolute;
    top: 0;left:0;right: 0;bottom: 0;
  }
  .header-content2{
    padding: 10px;
    text-align: center;
    ul{
      list-style: none;
      .qq_img{
        width:100px;
        height:120px;
        margin: 0 auto;
        img{
          width:100%;

        }
      }
    }
  }

}

#nav{
  .row{
    div a{
      background: #ff0000;
      display: block;
      height: 100px;
      margin:10px 0;
    }
  }
}

    

