#first-show {
    position: absolute;
    margin:auto;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    height:60%;
    width:60%;
    z-index: 999;
    background:green;
    border:5px solid #ccc;
    .close{
      float: right;
      color: #f00;
    }
    p{
      text-align: center;
      font-size: 18px;
      margin-top: 30px;
    }
}

.fix{
  z-index: 99;
  position: fixed;
  right:0;
  bottom: 0;
  height: 250px;
  width: 50px;
  #toTop{
    display: none;
  }
  a{
    margin-bottom: 10px;
    border-radius: 5px;
    display: block;
    height:30px;
    line-height: 30px;
    text-align:center;
    background: #ccc;
    position: relative;
    img{
      position: absolute;
      top: -50px;
      left:-130px;
      display: none;
      width:120px;
    }
  }
  a:hover{
    background: #ff0;
    color:#fff;
    img{
      display: block;
    }
  }

}

header {
  .navbar{
    padding-bottom: 0;
    margin-bottom: 0;
    border:none;
    background: none;
    box-shadow: none;
    /*position: fixed;*/
    /*top: 0;
    left: 0;*/
    z-index: 999;
  }
  #example-navbar-collapse{
      li{
        a{
         padding-left:35px;
         padding-right:35px;
         font-size:16px;
        }
        a:hover{
          color: #ccc;
          background:green;
        }
    }   
  }

  .row {
    position: relative;
    background: #cccccc;
    height: 300px;
    //background:url("../fonts/psb.jpg")no-repeat center;
  }
  .header-content {

    /*background:#F00;*/
  }
  .header-content1{
    height: 300px;
  }
  .header-content1 img {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 350px;
  }
  .header-content2 {

    position: relative;
    padding: 10px;
    text-align: center;
    .name{
      margin:30px 0 0;
      font-size: 30px;
    }
    .career{
      font-size: 16px;
      color:green;
    }
    ul {
      list-style: none;
      li{
        display: block;
        margin:0 auto;
        width:70%;
        font-size: 12px;
        b{float: left}
        span,a{margin-left:30px;}
      }
      .qq_img{
        position: relative;
        b{
          display: inline-block;
        }

        img {
          width: 100px;
          height: 120px;
          position: absolute;
          //top:-150px;
          left:150px;
          display: none;
        }

      }
      .qq_img:hover img{
        display: block;
      }
      .weixin_img {
        position: relative;

        img {
          position: absolute;
          width: 100px;
          height: 120px;
          display: none;
        }
      }
      .weixin_img:hover img{
        display: block;
      }
    }
  }

}

#nav {
  .nav{
    li{
      //background: #cccccc;
      padding:5px;
      a{
        background: #ccc;
        color:#fff;
        border-radius: 5px;
        text-align: center;
      }
      a:hover{
        background: #ffff00;
      }
      }
  }

}

#aboutMe{
  .aboutMe{
    /*background: #cccccc;*/
    >div:hover{
      /*background:#ff0;*/
       -webkit-box-shadow: 3px 3px 3px;
      -moz-box-shadow: 3px 3px 3px;
      box-shadow: 3px 3px 3px;
      
      border-radius: 5px;
      /*h4{background: #fff}*/
    }
    >div{
      /*height:180px;*/
      text-align: center;
      border: ipx solid #ff0;
      border-top: 2px solid #fff;
      div{

        box-shadow: 5px green;
      h4{
        background: #ff0;
        border-radius: 10px;
      }
      p{
        font-size:16px;
      }
      }
      

    }
  }
}
.container{
  h1{
    padding: 0 10px;
    border-bottom: 2px solid #ccc;
  }
}
#education{
  .education{
    height: 250px;
    background: #cccccc;
  }
}


#experience{
  overflow: hidden;
  .experience{
  
    /*background:green;*/
    #myCarousel{
      .item{
        overflow: hidden;
        height: 350px;
        .item_container{
          overflow: hidden;
          height: 100%;
          width:80%;
          margin:0 auto;
          background:#ccc;
        
          text-align: center;
          font-size: 15px;margin-top: 15px;
        }
      }
      .carousel-control{
        line-height: 350px;
        /*margin-top: 125px;*/
      }
    }
  }
}
#myWork{
  .swiper-container {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
         .swiper-slide {
            opacity: 0.8;
            background-position: center;
            background-size: cover;
            width: 300px;
            height: 300px;
            p{
              text-align: center;
              margin-top: 20px;
              font-size: 16px;
              color: red;
              a{
                color:yellow;
              }
            }
            
          }
    }
   
}

    
footer{
  height: 150px;
  width: 100%;
  background: #ccc;
  p{
    font-size: 35px;
    text-align: center;
    line-height: 100px;
    font-family: 'Audiowide';
    text-decoration:none; 
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
   color:#BA01FF;
  }
  p:hover{
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate; 
  }
}

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #FF1177,
               0 0 70px  #FF1177,
               0 0 80px  #FF1177,
               0 0 100px #FF1177,
               0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #FF1177,
               0 0 35px #FF1177,
               0 0 40px #FF1177,
               0 0 50px #FF1177,
               0 0 75px #FF1177;
  }
}