header{
    width: 100%;
    background: #cccccc;
    height: 68px;
    border-bottom:1px solid #0f0f0f;
}
.header-mid{
    background: #ff0000;
    height: 100%;
}

.mid{
    padding: 1px;
}
.mid div{

    height: 100px;
    background: #999999;
}

footer{
    height: 200px;
    background: #999;
}
.glyphicon-weixin{
    height: 60px;
    width: 60px;
    display: block;
    background: #0f0f0f url("../fonts/timg.jpg")no-repeat -130px -475px;
}



