.footer_nav{
	position: fixed;
	bottom:0px;
	width: 100%;
}

#myPhoto{
	
	width: 100%;
}
#myPhoto img{
	width: 50%;
}
#myName{
	width: 50%;
	height: 100%;
	float: right;
	text-align: center;
	overflow: hidden;
}
.behalf{
	width: 80%;
	margin:0 auto;
	overflow: hidden;
}
.behalf p:nth-child(1){
	background: green;
	font-size: 16px;
	color: #fff;
}
#skills ul{
	list-style: decimal   ;
}
#experience ul{
	list-style: none;
	margin-left: -20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
}



#joke_main{
	
	width:80%;
	margin:0 auto;
}
.joke_h3{
	padding-top: 20px;
	border-top: 2px solid #f00;
	text-align: center;
}

.joke_img{
	width: 100%;
	display: block;
	padding-bottom: 40px;
}

#get_more{
	text-align: center;
	height:100px;
	bottom:70px;
}

.blockSpace{
	height:80px;
	width: 100%;
};


#mask {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
}
#mask .message {
    font-size: 30px;
    color: #fff;
    text-align: center;
    margin: 30% auto 0;
}